<div class="gtco-section gto-features">
			<div class="gtco-container">
				<div class="row">
					<div class="col-md-4">
						<div class="feature-left">
							<div class="copy">
								<h3>President</h3>
								<p>M.Paul Langevin assure la presidence du royal Hotel depuis 2003.</p>
								<p><a href="#" class="gtco-more">Learn more</a></p>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="feature-left">
							<div class="copy">
								<h3>Architect</h3>
								<p>la structure de l'hotel a initiallement été dessiné par l'architecte ivoirien Ahoussi Gnakpa</p>
								<p><a href="#" class="gtco-more">Learn more</a></p>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="feature-left">
							<i class="fas fa-users-cog"></i>
							<div class="copy">
								<h3>Manager &amp; Personnel</h3>
								<p>M. Yve Lemarchand est le manager du royal Hotel d'Abidjan, il dirige une equie de 80 personne dévoué a votre service .</p>
								<p><a href="#" class="gtco-more">Learn more</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>